/terminal_commands
/bin
/build
/assets/*
/textures/*
/models/*
/profiles/vulkan_profiles.hpp
.editorconfig
.DS_Store
.vscode
*.spv
/subprojects/fastgltf/
/subprojects/KTX-Software/
/subprojects/glfw-3.4
/subprojects/glm-1.0.1
/subprojects/packagecache

