/bin
/build
/assets
/profiles
/subprojects/KTX-Software
/subprojects/fastgltf
/subprojects/glfw-3.4
/subprojects/glm-1.0.1
/subprojects/packagecache
/terminal_commands
tmp.cpp
/shaders/tmp.slang
.editorconfig
.DS_Store
.vscode
*.spv
